html {
  scroll-behavior: smooth !important;
}
body.scroll-lock {
  overflow: hidden;
}
main {
  transition: all .2s ease-in-out;
}

main.blur {
  filter: blur(10px);
  
}
.container {
  padding: .5rem 7rem;
}

@media (max-width: 865px) {
  .container {
    padding: 0 1.2rem;
  }
}